{% extends "mainapp/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<div class="container">
    {% block content %}
        <div class="hero-white">
            {% include 'mainapp/menu.html' %}
        </div>

        <div class="details">
            <div class="links clearfix">
                {% include 'mainapp/cat_menu.html' %}
            </div>

            <div class="details-products">
                {% include 'mainapp/details-products.html' %}
            </div>
            <div class="related">
                <div class="title clearfix">
                    <h2>Похожие продукты</h2>
                    <a class="explore" href="#">показать все <img src="/static/img/arrow.png" alt=""></a>
                </div>
                <div class="related-products clearfix">
                    <div class="block">
                        <a href="#"><img src="/static/img/product-11.jpg" alt="">
                            <div class="text">
                                <img src="/static/img/icon-hover.png" alt="img">
                                <h4>Стул повышенного качества</h4>
                                <p>Не оторваться. </p>
                            </div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="/static/img/product-21.jpg" alt="">
                            <div class="text">
                                <img src="/static/img/icon-hover.png" alt="img">
                                <h4>Стул повышенного качества</h4>
                                <p>Не оторваться. </p>
                            </div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="/static/img/product-31.jpg" alt="">
                            <div class="text">
                                <img src="/static/img/icon-hover.png" alt="img">
                                <h4>Стул повышенного качества</h4>
                                <p>Не оторваться. </p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="clr"></div>
    {% endblock %}
</div>


</body>
</html>